//--------------------------------------------------------------------------
// Custom color variables

// reds
$red-devil: #830417;
$rosewood: #5e000a;
$burnt-maroon: #450703;
$tempress: #290000;

// darks
$tundora: #393939;
$mine-shaft: #2e2e2e;
$cod-gray: #1c1b1b;

// lights
$alto: #dfdfdf;
$silver: #c1c1c1;

//--------------------------------------------------------------------------
// Custom variables

$dark-bg-color: $cod-gray;
$site-bg-color: $mine-shaft;
$light-bg-color: $tundora;
$accent-color: $red-devil;
$text-color: $alto;
$link-color: $text-color;
$primary-color: $red-devil;
$secondary-color: $rosewood;

//--------------------------------------------------------------------------
// Override Bootstrap variables

// theme-color-variables
$primary: $red-devil;
$secondary: $tundora;
$light: $alto;
$dark: $cod-gray;

// custom-colors-map
$custom-colors: (
    'primary': $red-devil,
    'secondary': $tundora,
    'light': $alto,
    'dark': $cod-gray,
    'red-devil': $red-devil,
    'rosewood': $rosewood,
    'burnt-maroon': $burnt-maroon,
    'tempress': $tempress,
    'tundora': $tundora,
    'mine-shaft': $mine-shaft,
    'cod-gray': $cod-gray,
    'alto': $alto,
    'silver': $silver
);

// merge custom-colors-map w colors-map
$colors: map-merge($colors, $custom-colors);

// merge custom-colors-map w theme-colors-map
$theme-colors: map-merge($theme-colors, $custom-colors);
