a {
    text-decoration: none;
	color: $text-color;

    &:hover {
        text-decoration: underline;
        text-decoration-color: $primary-color;
		text-decoration-thickness: 20%;
        color: $text-color;
    }
}
