$dark-bg-color: #010925;
$accent-color: #fac94c;
$text-color: #fffff9;
$light-bg-color: #e7e6e6;
$dark-text-color: #000002;
$primary-color: lighten($dark-bg-color, 30%);
$secondary-color: darken($light-bg-colo, 40%);
/* temporary colors change or add new at your discretion */
