//--------------------------------------------------------------------------
// Color variables

$cod-gray: #1c1b1b;
$red-devil: #830417;
$mine-shaft: #2e2e2e;
$burnt-maroon: #450703;
$rosewood: #5e000a;
$alto: #dfdfdf;

//--------------------------------------------------------------------------
// Basics

$primary-color: $red-devil;
$secondary-color: $rosewood;
$secondary-color-dark: $burnt-maroon;

$dark-bg-color: $cod-gray;
$secondary-bg-color: $mine-shaft;

$accent-color: $red-devil;

$text-color: $alto;
$text-color-dark: $silver;

//--------------------------------------------------------------------------
// Buttons

$btn-primary-color: $primary-color;
$btn-secondary-color: $secondary-bg-color;
$btn-text-color: $text-color;
