.footer {
    background-color: $dark-bg-color;

    * {
        color: $text-color;
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        text-decoration-color: $primary-color;
        color: $text-color;
    }
}

.fa {
    font-size: 1.2em;

    &:hover {
        transform: scale(1.5);
    }
}
