$dark-bg-color: #010925;
$accent-color: #fac94c;
$text-color: #fff;

.card-container {
    background-color: $dark-bg-color;
}

.card-header {
    background-color: $accent-color;
}

h2 {
    color: $text-color;
}
