body {
    background-color: $dark-bg-color;
}
h1 {
    color: $text-color;
}
.logincontainer {
    background-color: $site-bg-color;
}
.logbtn {
    background-color: $accent-color;
    color: $text-color;
}
.form-label {
    color: $text-color;
}
